Repository Roman-Supernova-PIT/phrosty, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing

delete auxiliary/tds.yaml, note at top of commented-out utils.pyx
  phrosty/auxiliary/tds.yaml
  phrosty/utils.py
Labels: none

delete empty file photometry.py
  phrosty/photometry.py
Labels: none

Move unused to deprecated directory
  phrosty/deprecated/unused.py
Labels: none

move utils.py to deprecated directory
  phrosty/deprecated/utils.py
Labels: none

comments
  phrosty/pipeline.py
Labels: none

ruff
  phrosty/pipeline.py
Labels: none

Remove removed modules from api.rst
  docs/api.rst
Labels: none

Fix a bug that passed the wrong thign to stampmaker, so stampmaker was always failing.
  phrosty/pipeline.py
Labels: none

changelog
  changes/147.bugfix.rst
Labels: none

changelog
  changes/144.docs.rst
Labels: none

Merge pull request #144 from Roman-Supernova-PIT/docfix
  .buildinfo
  .doctrees/index.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/pipeline.html
  _static/documentation_options.js
  api.html
  api/phrosty.imagesubtraction.sky_subtract.html
  api/phrosty.imagesubtraction.stampmaker.html
  api/phrosty.pipeline.Pipeline.html
  api/phrosty.pipeline.PipelineImage.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

Switch to fitsio to write FITS faster.
  phrosty/pipeline.py
Labels: none

towncrier
  changes/149.feature.rst
Labels: none

Remove astro.io.fits import.
  phrosty/pipeline.py
Labels: none

Add fitsio to pyproject.toml requirements.
  pyproject.toml
Labels: installation

towncrier
  changes/151.bugfix.txt
Labels: none

Merge pull request #151 from Roman-Supernova-PIT/u/wmwv/fix-fitsio-doc
  .buildinfo
  .doctrees/index.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/pipeline.html
  _static/documentation_options.js
  api.html
  api/phrosty.imagesubtraction.sky_subtract.html
  api/phrosty.imagesubtraction.stampmaker.html
  api/phrosty.pipeline.Pipeline.html
  api/phrosty.pipeline.PipelineImage.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

collect images that fail at various steps in the process. works if fails in make_lightcurve for any number of processes. othere steps untested. no tests written yet.
  phrosty/pipeline.py
Labels: none

remove all self._omg
  phrosty/pipeline.py
Labels: none

docstrings
  phrosty/pipeline.py
Labels: none

docstrings
  phrosty/pipeline.py
Labels: none

add paper files
  paper/20172782_lc.pdf
  paper/codeprofiles.pdf
  paper/paper.md
  paper/paper.tex
  paper/pipelinefigure.pdf
Labels: none

changelog
  changes/120.feature.rst
Labels: none

remove paper.tex, edit figure captions in paper.md because the citations aren't rendering properly
  paper/paper.md
  paper/paper.tex
Labels: none

fix changelog
  156.feature.rst
Labels: none

update statement of need in docs to match paper
  docs/index.rst
Labels: none

update pipeline figure
  paper/pipelinefigure.pdf
Labels: none

Merge pull request #156 from Roman-Supernova-PIT/120-write-paper
  .buildinfo
  .doctrees/index.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/pipeline.html
  _sources/index.rst.txt
  _static/documentation_options.js
  api.html
  api/phrosty.imagesubtraction.sky_subtract.html
  api/phrosty.imagesubtraction.stampmaker.html
  api/phrosty.pipeline.Pipeline.html
  api/phrosty.pipeline.PipelineImage.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

update test_pipeline_run to include success header column, fix zpt test. add function to test the self.failures collection. correctly verifies there were no failures in the example images as-is
  phrosty/tests/test_pipeline.py
Labels: testing

placeholder while I wait for Rob's snappl PR. also, some ruff
  phrosty/pipeline.py
  phrosty/tests/conftest.py
  phrosty/tests/test_pipeline.py
Labels: testing

small changes for updated snappl to do simple guassian-star-image test
  examples/perlmutter/phrosty_config.yaml
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/phrosty_test_config.yaml
Labels: testing

ssimdex not working, so just pushing what I have
  phrosty/pipeline.py
  phrosty/tests/conftest.py
  phrosty/tests/test_pipeline.py
Labels: testing

Small FITSimage fixes, breakpoint
  phrosty/imagesubtraction.py
Labels: none

breakpoint
  phrosty/imagesubtraction.py
Labels: none

working
  docs/development.rst
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/phrosty_test_config.yaml
  phrosty/tests/test_pipeline.py
Labels: testing

Update with simdex_server config for snappl update, fix test_pipeline zpt
  phrosty/tests/phrosty_test_config.yaml
  phrosty/tests/test_pipeline.py
Labels: testing

Beef up lightcurve gaussian test, add a plot
  phrosty/tests/test_pipeline.py
Labels: testing

changelog
  changes/165.phrosty.rst
Labels: none

something recently changed on github ruff that it objects to imports it didn't previously
  phrosty/tests/test_imagesubtraction.py
Labels: testing

fix a thing in conftests
  phrosty/tests/conftest.py
Labels: testing

.github/labeler.yml:

# needs pull_request_target to label forks
documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst', '!licenses/LICENSE']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'CITATION.cff'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/*ci*.yml'
      - 'conftest.py'
      - 'tox.ini'
