Repository Roman-Supernova-PIT/phrosty, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing

Remove memtrace as config param, leave as command line arg. fix a return in a finally statement
  phrosty/pipeline.py
Labels: none

remove mem_trace from smdc test config
  phrosty/tests/phrosty_test_config_smdc.yaml
Labels: testing

docs
  docs/installation.rst
  docs/usage.rst
Labels: none

add SMDC example configs
  examples/smdc/phrosty_config_smdc_singularity.yaml
  examples/smdc/phrosty_config_smdc_venv.yaml
Labels: none

phrosty config for singularity works
  docs/installation.rst
  examples/smdc/phrosty_config_smdc_singularity.yaml
Labels: none

update venv config
  examples/smdc/phrosty_config_smdc_venv.yaml
Labels: none

ruff
  phrosty/pipeline.py
Labels: none

edit smdc config
  examples/smdc/phrosty_config_smdc_singularity.yaml
Labels: none

undo last change
  examples/smdc/phrosty_config_smdc_singularity.yaml
Labels: none

update phrosty to match new zpt-getting
  phrosty/pipeline.py
Labels: none

edit colnames for compatibility with snappl updates
  phrosty/pipeline.py
Labels: none

remove scratch_dir
  examples/smdc/phrosty_config_smdc_venv.yaml
  phrosty/pipeline.py
  phrosty/tests/conftest.py
  phrosty/tests/test_pipeline.py
Labels: testing

remove pdb
  phrosty/pipeline.py
Labels: none

one config to rule them all
  examples/smdc/phrosty_config_smdc.yaml
  examples/smdc/phrosty_config_smdc_singularity.yaml
Labels: none

remove cupy-cuda12x as required dependency and update documentation to say you need to install it if you are using a GPU
  docs/installation.rst
  pyproject.toml
Labels: installation

tweak what i just did
  docs/installation.rst
Labels: none

generalize readme
  README.rst
Labels: none

rearrange dbsave and dbclient so we no longer look for the secrets file if we use the db
  phrosty/pipeline.py
Labels: none

undo the boneheaded stuff I did yesterday
  phrosty/pipeline.py
Labels: none

ruff
  phrosty/pipeline.py
Labels: none

add some future code for when we do database mode
  phrosty/pipeline.py
Labels: none

add local example config file
  examples/local/phrosty_config_local.yaml
Labels: none

installation docs
  docs/installation.rst
  examples/local/phrosty_config_local.yaml
Labels: none

docs
  docs/installation.rst
  docs/usage.rst
  examples/perlmutter/phrosty_config_nersc.yaml
Labels: none

docs
  docs/installation.rst
  docs/usage.rst
Labels: none

instructions for running locally, ref cleanup
  docs/installation.rst
  docs/usage.rst
Labels: none

minor text update
  docs/index.rst
Labels: none

changelog
  changes/206.feature.rst
Labels: none

docs for tests
  docs/installation.rst
Labels: none

rob comments; get tests working
  docs/installation.rst
  phrosty/tests/conftest.py
  phrosty/tests/phrosty_test_config.yaml
  phrosty/tests/test_imagesubtraction.py
Labels: testing

Changes Rob & Lauren made to sychronize examples with latest snpit env stuff. (More to do.)
  docs/installation.rst
  docs/usage.rst
  phrosty_config_default.yaml
Labels: none

curl in docs point to environment main branch
  docs/installation.rst
Labels: none

capitalizatino and link to cupy docs
  docs/installation.rst
Labels: none

link to snappl docs for NERSC
  docs/installation.rst
Labels: none

runs locally again
  docs/installation.rst
  docs/usage.rst
  phrosty/pipeline.py
Labels: none

trying to run on nersc again
  docs/installation.rst
  docs/usage.rst
  examples/perlmutter/phrosty_config_nersc.yaml
Labels: none

rob comments
  docs/installation.rst
  docs/usage.rst
Labels: none

docs
  docs/usage.rst
Labels: none

fix smdc instructions
  docs/usage.rst
Labels: none

swapped ic and oc oops
  docs/usage.rst
Labels: none

.github/labeler.yml:

# needs pull_request_target to label forks
documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst', '!licenses/LICENSE']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'CITATION.cff'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/*ci*.yml'
      - 'conftest.py'
      - 'tox.ini'
