Repository Roman-Supernova-PIT/phrosty, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing

Merge pull request #131 from Roman-Supernova-PIT/126-deprecate-nn2py
  .buildinfo
  .doctrees/api.doctree
  .doctrees/index.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/photometry.html
  _modules/phrosty/pipeline.html
  _modules/phrosty/utils.html
  _static/documentation_options.js
  api.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

Make pipeline.py be a little bit more smart about env var config location
  docs/development.rst
  phrosty/pipeline.py
  phrosty/tests/20172782_instances_templates_1.csv
  phrosty/tests/phrosty_test_config.yaml
Labels: testing

working on docs
  docs/development.rst
  docs/installation.rst
  docs/usage.rst
  examples/perlmutter/20172782_2sci1templ.sh
  examples/perlmutter/interactive_podman.sh
Labels: none

lots of doc work, a few code patches to make it all go
  docs/development.rst
  docs/installation.rst
  docs/usage.rst
  examples/perlmutter/20172782_slurm_demo.sh
  examples/perlmutter/interactive_podman.sh
  examples/perlmutter/phrosty_config.yaml
  phrosty/pipeline.py
Labels: none

deploy: d6608d6694ce92ff41c818d0d9d2367c2206df33
  .buildinfo
  .doctrees/development.doctree
  .doctrees/index.doctree
  .doctrees/installation.doctree
  .doctrees/usage.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/photometry.html
  _modules/phrosty/pipeline.html
  _modules/phrosty/utils.html
  _sources/development.rst.txt
  _sources/index.rst.txt
  _sources/installation.rst.txt
  _sources/usage.rst.txt
  _static/documentation_options.js
  api.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

fix sphinx rst errors
  docs/development.rst
  docs/installation.rst
  docs/usage.rst
Labels: none

deploy: 72ff7dc9a21ea7f0e3e3e33b41422056b8209fb5
  .buildinfo
  .doctrees/development.doctree
  .doctrees/index.doctree
  .doctrees/installation.doctree
  .doctrees/usage.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/photometry.html
  _modules/phrosty/pipeline.html
  _modules/phrosty/utils.html
  _sources/development.rst.txt
  _sources/installation.rst.txt
  _sources/usage.rst.txt
  _static/documentation_options.js
  api.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

Added blank lines before code blocks
  docs/development.rst
  docs/installation.rst
  docs/usage.rst
Labels: none

changelog
  changes/133.docs.rst
Labels: none

missing blank line in docs
  docs/usage.rst
Labels: none

Fix some really bad css choices
  docs/conf.py
  docs/installation.rst
  docs/usage.rst
Labels: none

contents
  docs/development.rst
  docs/usage.rst
Labels: none

deploy: bae0609fc081e8c98f049cfe654a18ecfbaf69ab
  .buildinfo
  .doctrees/development.doctree
  .doctrees/index.doctree
  .doctrees/installation.doctree
  .doctrees/usage.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/photometry.html
  _modules/phrosty/pipeline.html
  _modules/phrosty/utils.html
  _sources/development.rst.txt
  _sources/installation.rst.txt
  _sources/usage.rst.txt
  _static/alabaster.css
  _static/basic.css
  _static/documentation_options.js
  api.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

Replace examples/perlmutter/README.md with a pointer to the corresponding section in the docs.
  examples/perlmutter/README.md
Labels: none

Add docstrings, move functions into unused, add tests
  phrosty/tests/conftest.py
  phrosty/tests/test_utils.py
  phrosty/unused.py
  phrosty/utils.py
Labels: testing

changelog
  changes/134.feature.rst
Labels: none

replace statement of need with "Lauren todo" ; small doc fixes
  docs/development.rst
  docs/index.rst
Labels: none

Merge pull request #133 from Roman-Supernova-PIT/u/rknop/docs
  .buildinfo
  .doctrees/development.doctree
  .doctrees/index.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/photometry.html
  _modules/phrosty/pipeline.html
  _modules/phrosty/utils.html
  _sources/development.rst.txt
  _sources/index.rst.txt
  _static/documentation_options.js
  api.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

docstrings
  phrosty/tests/test_utils.py
  phrosty/utils.py
Labels: testing

ruff
  phrosty/utils.py
Labels: none

Merge pull request #134 from Roman-Supernova-PIT/128-utils-tests
  .buildinfo
  .doctrees/api.doctree
  .doctrees/index.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/photometry.html
  _modules/phrosty/pipeline.html
  _modules/phrosty/utils.html
  _static/documentation_options.js
  api.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

Add draft 1 of JOSS paper
  .github/workflows/draft-pdf.yml
  paper/20172782_lc.pdf
  paper/aligned_templatesca.png
  paper/codeprofile.png
  paper/paper.bib
  paper/paper.md
  paper/pipelinefigure.pdf
  paper/stamp_alignedtemplatesca.png
  paper/stamp_scisca.png
  paper/stampdecorrdiff.png
Labels: automation

Add statement of need to README and front page of docs. Add link to docs to README.
  README.rst
  docs/index.rst
Labels: none

changelog
  changes/135.docs.rst
Labels: none

fix typo
  LICENSE
Labels: none

changelog
  changes/136.docs.rst
Labels: none

Merge pull request #136 from Roman-Supernova-PIT/69-typo-in-license
  .buildinfo
  .doctrees/index.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/photometry.html
  _modules/phrosty/pipeline.html
  _modules/phrosty/utils.html
  _static/documentation_options.js
  api.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

Merge pull request #135 from Roman-Supernova-PIT/106-statement-of-need
  .buildinfo
  .doctrees/index.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/photometry.html
  _modules/phrosty/pipeline.html
  _modules/phrosty/utils.html
  _sources/index.rst.txt
  _static/documentation_options.js
  api.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

experimenting
  docs/api.rst
  docs/conf.py
  pyproject.toml
Labels: installation

pyproject.tom
  pyproject.toml
Labels: installation

make api docs work better
  docs/conf.py
  phrosty/imagesubtraction.py
  phrosty/photometry.py
  phrosty/pipeline.py
  phrosty/utils.py
  pyproject.toml
Labels: installation

changelog
  changes/138.docs.rst
Labels: none

In the middle of heavy work removing ou2024 depencies and moving to using snappl.
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/phrosty_test_config.yaml
Labels: testing

In the middle of massive snapplification changes
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/phrosty_test_config.yaml
Labels: testing

working
  phrosty/photometry.py
  phrosty/pipeline.py
Labels: none

Have succesfully run all the way through pipeline.py
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/20172782_instances_science_2.csv
  phrosty/tests/20172782_instances_templates_1.csv
Labels: testing

changelog
  changes/140.phrosty.rst
Labels: none

comment out all of utils.py, it should not be needed any more
  phrosty/imagesubtraction.py
  phrosty/utils.py
Labels: none

working
  docs/usage.rst
  examples/perlmutter/20172782_instances_science.csv
  examples/perlmutter/20172782_instances_science_2.csv
  examples/perlmutter/20172782_instances_templates_1.csv
  examples/perlmutter/20172782_instances_templates_10.csv
  examples/perlmutter/20172782_slurm_demo.sh
  examples/perlmutter/phrosty_config.yaml
  phrosty/pipeline.py
  phrosty/tests/conftest.py
  phrosty/tests/test_imagesubtraction.py
  phrosty/tests/test_pipeline.py
  phrosty/tests/test_utils.py
Labels: testing

Make pipline tests have big uncertainties because random numbers mean we don't exactly reproduce.
  docs/development.rst
  phrosty/tests/conftest.py
  phrosty/tests/test_pipeline.py
Labels: testing

.github/labeler.yml:

# needs pull_request_target to label forks
documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst', '!licenses/LICENSE']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'CITATION.cff'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/*ci*.yml'
      - 'conftest.py'
      - 'tox.ini'
