Repository Roman-Supernova-PIT/phrosty, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing

.github/labeler.yml:

# needs pull_request_target to label forks
documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst', '!licenses/LICENSE']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'CITATION.cff'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/*ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

Move phrosty over to the package template (#66) 7e0b08b183ac63125fae6934235e6699bb78b21c
  .buildinfo
  .doctrees/changes.doctree
  .doctrees/index.doctree
  .doctrees/installation.doctree
  .doctrees/usage.doctree
  .nojekyll
  _sources/changes.rst.txt
  _sources/index.rst.txt
  _sources/installation.rst.txt
  _sources/usage.rst.txt
  _static/alabaster.css
  _static/basic.css
  _static/custom.css
  _static/doctools.js
  _static/documentation_options.js
  _static/file.png
  _static/github-banner.svg
  _static/graphviz.css
  _static/language_data.js
  _static/logo_black_filled.png
  _static/minus.png
  _static/plus.png
  _static/pygments.css
  _static/searchtools.js
  _static/sphinx_highlight.js
  changes.html
  genindex.html
  index.html
  installation.html
  objects.inv
  search.html
  searchindex.js
  usage.html
Labels: none

Use SNLogger from snpit_utils
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/utils.py
Labels: none

add ruff check, changelog
  .github/workflows/ruff.yaml
  changes/67.phrosty.rst
Labels: automation

Lots of reformatting to make ruff checks pass.
  .github/workflows/ruff.yaml
  phrosty/SpaceSFFTPurePack/ResampKits.py
  phrosty/SpaceSFFTPurePack/SpaceSFFTCupyFlow.py
  phrosty/SpaceSFFTPurePack/sfftutils/PatternRotationCalculator.py
  phrosty/SpaceSFFTPurePack/sfftutils/PureCupyDeCorrelationCalculator.py
  phrosty/SpaceSFFTPurePack/sfftutils/PureCupyFFTKits.py
  phrosty/__init__.py
  phrosty/deprecated/objectidentification.py
  phrosty/deprecated/sourcedetection.py
  phrosty/examples/animate_sn_with_sfft.py
  phrosty/imagesubtraction.py
  phrosty/nn2.py
  phrosty/photometry.py
  phrosty/pipeline.py
  phrosty/plotaesthetics.py
  phrosty/plotting.py
  phrosty/tests/conftest.py
  phrosty/tests/test_imagesubtraction.py
  phrosty/tests/test_utils.py
  phrosty/unused.py
  phrosty/utils.py
  pyproject.toml
Labels: installation, automation, testing

Trying to get ruff to look at the right directory
  .github/workflows/ruff.yaml
Labels: automation

still trying
  .github/workflows/ruff.yaml
Labels: automation

still fighting
  .github/workflows/ruff.yaml
Labels: automation

sometimes I am stupid
  .github/workflows/ruff.yaml
Labels: automation

I feel like I have no idea what I'm doing
  .github/workflows/ruff.yaml
Labels: automation

hurm
  .github/workflows/ruff.yaml
  phrosty/pipeline.py
Labels: automation

OK, I think it's working
  phrosty/pipeline.py
Labels: none

Many reformats to pass ruff checks ; use SNLogger from snpit_utils (#67)
  .github/workflows/ruff.yaml
  changes/67.phrosty.rst
  phrosty/SpaceSFFTPurePack/ResampKits.py
  phrosty/SpaceSFFTPurePack/SpaceSFFTCupyFlow.py
  phrosty/SpaceSFFTPurePack/sfftutils/PatternRotationCalculator.py
  phrosty/SpaceSFFTPurePack/sfftutils/PureCupyDeCorrelationCalculator.py
  phrosty/SpaceSFFTPurePack/sfftutils/PureCupyFFTKits.py
  phrosty/__init__.py
  phrosty/deprecated/objectidentification.py
  phrosty/deprecated/sourcedetection.py
  phrosty/examples/animate_sn_with_sfft.py
  phrosty/imagesubtraction.py
  phrosty/nn2.py
  phrosty/photometry.py
  phrosty/pipeline.py
  phrosty/plotaesthetics.py
  phrosty/plotting.py
  phrosty/tests/conftest.py
  phrosty/tests/test_imagesubtraction.py
  phrosty/tests/test_utils.py
  phrosty/unused.py
  phrosty/utils.py
  pyproject.toml
Labels: installation, automation, testing

Many reformats to pass ruff checks ; use SNLogger from snpit_utils (#67) 03f7cd9f6afaee9ed08db127422a0cfcfcac562f
  .buildinfo
  .doctrees/index.doctree
  _static/documentation_options.js
  changes.html
  genindex.html
  index.html
  installation.html
  objects.inv
  search.html
  searchindex.js
  usage.html
Labels: none

in progress
  examples/perlmutter/phrosty_config.yaml
  phrosty/pipeline.py
Labels: none

in progress
  examples/perlmutter/phrosty_config.yaml
  phrosty/pipeline.py
Labels: none

in progress
  examples/perlmutter/20172782_instances_science.csv
  examples/perlmutter/20172782_instances_science_two_images.csv
  examples/perlmutter/20172782_instances_templates_1.csv
  examples/perlmutter/20172782_instances_templates_10.csv
  examples/perlmutter/interactive_podman.sh
  examples/perlmutter/phrosty_config.yaml
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/test_imagesubtraction.py
Labels: testing

...it ran...
  examples/perlmutter/phrosty_config.yaml
  phrosty/pipeline.py
Labels: none

Update perlmutter example
  examples/perlmutter/20172782_2sci1templ.sh
  examples/perlmutter/README.md
Labels: none

ruff cleanup
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
Labels: none

changelog
  changes/72.feature.rst
Labels: none

Transpose PSF stamps for sending to SFFT
  phrosty/pipeline.py
Labels: none

First step of refactoring to use snappl (#72)
  changes/72.feature.rst
  examples/perlmutter/20172782_2sci1templ.sh
  examples/perlmutter/20172782_instances_science.csv
  examples/perlmutter/20172782_instances_science_two_images.csv
  examples/perlmutter/20172782_instances_templates_1.csv
  examples/perlmutter/20172782_instances_templates_10.csv
  examples/perlmutter/README.md
  examples/perlmutter/interactive_podman.sh
  examples/perlmutter/phrosty_config.yaml
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/test_imagesubtraction.py
Labels: testing

First step of refactoring to use snappl (#72) 5d81366b29b1a3dd38c2953df56b534687465486
  .buildinfo
  .doctrees/index.doctree
  _static/documentation_options.js
  changes.html
  genindex.html
  index.html
  installation.html
  objects.inv
  search.html
  searchindex.js
  usage.html
Labels: none

Make sure cupy arrays of PSFs are C_CONTIGUOUS for sending to sfft
  phrosty/pipeline.py
Labels: none

changelog
  changes/75.bugfix.rst
Labels: none

Merge pull request #75 from Roman-Supernova-PIT/u/rknop/fix-contiguous
  .buildinfo
  .doctrees/index.doctree
  _static/documentation_options.js
  changes.html
  genindex.html
  index.html
  installation.html
  objects.inv
  search.html
  searchindex.js
  usage.html
Labels: none

using a keep_intermediate property in the config file, we can now additionally save the original images, sky-subtracted images, detection masks, and input (original) PSFs to dia_out_dir.
  phrosty/pipeline.py
Labels: none

add files to optional intermediate file output
  phrosty/pipeline.py
Labels: none

changelog
  changes/45.feature.rst
  phrosty/pipeline.py
Labels: none

ruff
  phrosty/pipeline.py
Labels: none

changelog
  changes/45.feature.rst
Labels: none

changelog
  changes/45.feature.rst
  changes/82.feature.rst
Labels: none

Move intermediate file save location to /pscratch/sd/l/laldorot. Update perlmutter example interactive_podman.sh file to match. Address some review comments.
  examples/perlmutter/interactive_podman.sh
  phrosty/pipeline.py
Labels: none

minor edits in accordance with review comments
  phrosty/pipeline.py
Labels: none

Update phrosty_config.yaml in examples/perlmutter to reflect keep_intermediate functionality
  examples/perlmutter/phrosty_config.yaml
Labels: none

remove vestigial docstring
  phrosty/pipeline.py
Labels: none

add comment about defining variables early on
  phrosty/pipeline.py
Labels: none

Merge pull request #82 from Roman-Supernova-PIT/45-save-intermediate-files
  .buildinfo
  .doctrees/index.doctree
  _static/documentation_options.js
  changes.html
  genindex.html
  index.html
  installation.html
  objects.inv
  search.html
  searchindex.js
  usage.html
Labels: none

comment out mp line that is broken, add empty arrays for variance to match new sfft inputs
  phrosty/pipeline.py
Labels: none

changelog
  changes/85.feature.rst
Labels: none
