Repository Roman-Supernova-PIT/phrosty, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing

.github/labeler.yml:

# needs pull_request_target to label forks
documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst', '!licenses/LICENSE']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'CITATION.cff'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/*ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

lots of comments
  phrosty/pipeline.py
  phrosty/tests/test_imagesubtraction.py
  phrosty/tests/test_pipeline.py
Labels: testing

manual plot limits in test for now
  phrosty/tests/test_pipeline.py
Labels: testing

update to be compatible with snappl changes
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/conftest.py
  phrosty/tests/test_pipeline.py
Labels: testing

get it working as-is; remove snpit_utils and fix some args.
  phrosty/pipeline.py
Labels: none

ruff; remove snpit_utils from imagesubtraction
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
Labels: none

update results_dict keys
  phrosty/pipeline.py
Labels: none

missed a spot
  phrosty/pipeline.py
Labels: none

add args to parser
  phrosty/pipeline.py
Labels: none

provenances, again
  phrosty/pipeline.py
Labels: none

save as parquet file
  phrosty/pipeline.py
Labels: none

remove snpit-utils from dependencies; remove requirements.txt which was an empty file
  pyproject.toml
  requirements.txt
Labels: installation

fully reads from db. writing in-progress
  phrosty/pipeline.py
Labels: none

writes provenances to db but does not connect LCs to them
  phrosty/pipeline.py
Labels: none

remove create-ltcv-provenance tag; fix logic for save to db true or false
  phrosty/pipeline.py
Labels: none

aesthetic changes
  phrosty/tests/conftest.py
Labels: testing

aesthetic changes
  phrosty/tests/test_pipeline.py
Labels: testing

snpit_utils --> snappl
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/conftest.py
Labels: testing

id --> name in line with snappl updates
  phrosty/tests/test_pipeline.py
Labels: testing

remove snpit_utils from pyproject.toml
  pyproject.toml
Labels: installation

ruff
  phrosty/imagesubtraction.py
Labels: none

Fix conftest, test config, and pyproject.toml for modern snappl
  phrosty/tests/conftest.py
  phrosty/tests/phrosty_test_config.yaml
  pyproject.toml
Labels: installation, testing

Merge pull request #165 from Roman-Supernova-PIT/u/rknop/simple-gaussian-test
  .buildinfo
  .doctrees/api/phrosty.pipeline.PipelineImage.doctree
  .doctrees/development.doctree
  .doctrees/index.doctree
  _modules/index.html
  _modules/phrosty/imagesubtraction.html
  _modules/phrosty/pipeline.html
  _sources/development.rst.txt
  _static/documentation_options.js
  api.html
  api/phrosty.imagesubtraction.sky_subtract.html
  api/phrosty.imagesubtraction.stampmaker.html
  api/phrosty.pipeline.Pipeline.html
  api/phrosty.pipeline.PipelineImage.html
  changes.html
  development.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  usage.html
Labels: none

resolving conflicts
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/conftest.py
  pyproject.toml
Labels: installation, testing

add field to phrosty_test_config.yaml to match snappl updates
  phrosty/tests/phrosty_test_config.yaml
Labels: testing

clean up dbsave=True options; restore gaussian test to previous functionality
  phrosty/pipeline.py
  phrosty/tests/test_pipeline.py
Labels: testing

temporary function deprecation
  phrosty/plotting.py
Labels: none

FITSImageOnDisk --> CompressedFITSImage
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/conftest.py
  phrosty/tests/test_imagesubtraction.py
  phrosty/tests/test_pipeline.py
Labels: testing

fixDecorr
  phrosty/pipeline.py
  phrosty/tests/test_pipeline.py
Labels: testing

fixes bug where if you run the same SN in different bands and save to local, the file gets overwritten
  phrosty/pipeline.py
Labels: none

clean up commented lines
  phrosty/tests/test_pipeline.py
Labels: testing

pushing so lei can have my version of stuff and help debug
  phrosty/pipeline.py
  phrosty/tests/test_pipeline.py
Labels: testing

update pointing --> observation_id
  phrosty/tests/20172782_instances_science_2.csv
  phrosty/tests/20172782_instances_templates_1.csv
Labels: testing

pointing --> observation_id
  phrosty/pipeline.py
  phrosty/tests/test_pipeline.py
Labels: testing

Clean up debug print statements
  phrosty/pipeline.py
Labels: none

fix bug where original images were passed to SFFT instead of skysub. add some stamp outputs
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
Labels: none

ruff
  phrosty/pipeline.py
Labels: none

ruff
  phrosty/pipeline.py
Labels: none

ruff, again
  phrosty/imagesubtraction.py
  phrosty/plotting.py
  phrosty/tests/conftest.py
  phrosty/tests/test_pipeline.py
Labels: testing

changelog
  changes/169.feature.rst
Labels: none

comments addressed
  phrosty/imagesubtraction.py
  phrosty/pipeline.py
  phrosty/tests/test_pipeline.py
Labels: testing
